### 딕셔너리
- key와 value가 한 쌍을 이루는 자료형
- {}, k:v 이용

In [1]:
# 딕셔너리 생성
dic_1 = {'name':'세연쌤','age':21, 'phone':'010-0000-0000'}

In [3]:
# 자료형 타입 확인 함수
type(dic_1)

dict

In [7]:
# 딕셔너리 값 추가
dic_1['birth'] = '03/20'

In [9]:
dic_1

{'name': '세연쌤', 'age': 21, 'phone': '010-0000-0000', 'birth': '03/20'}

In [10]:
dic_1['like'] = 'money'

In [11]:
dic_1

{'name': '세연쌤',
 'age': 21,
 'phone': '010-0000-0000',
 'birth': '03/20',
 'like': 'money'}

In [12]:
dic_test = {'노래제목':'아무노래'}
dic_test['가수'] = '지코'
dic_test['날짜'] = '2020.01.13'

In [13]:
dic_test

{'노래제목': '아무노래', '가수': '지코', '날짜': '2020.01.13'}

In [14]:
# 딕셔너리 값 가져오기
# 딕셔너리[key]
dic_test['노래제목']

'아무노래'

In [16]:
dic_1

{'name': '세연쌤',
 'age': 21,
 'phone': '010-0000-0000',
 'birth': '03/20',
 'like': 'money'}

In [17]:
dic_1['age']

21

In [18]:
# 없는 key 값은 가져올 수 없다 (에러)
dic_1('money')

TypeError: 'dict' object is not callable

In [19]:
# 딕셔너리 값 가져오기 2
# 딕셔너리.get(key)
dic_1.get('like')

'money'

In [22]:
# 없는 key값은 None
print(dic_1.get('gold'))

None

In [23]:
# 딕셔너리 값 수정
dic_1['age'] = 22

In [24]:
# key 값이 중복될 수 없다
dic_1

{'name': '세연쌤',
 'age': 22,
 'phone': '010-0000-0000',
 'birth': '03/20',
 'like': 'money'}

In [27]:
dic_1['age'] = {'작년':20, '올해':21, '내년':22}

In [29]:
dic_1

{'name': '세연쌤',
 'age': {'작년': 20, '올해': 21, '내년': 22},
 'phone': '010-0000-0000',
 'birth': '03/20',
 'like': 'money'}

In [30]:
dic_1['age']['올해']

21

In [31]:
# 딕셔너리 값 삭제
# del 딕셔너리['key']
del dic_1['phone']

In [32]:
dic_1

{'name': '세연쌤',
 'age': {'작년': 20, '올해': 21, '내년': 22},
 'birth': '03/20',
 'like': 'money'}

##### 딕셔너리 관련 함수

In [33]:
# key 값만 뽑는 함수
dic_1.keys()

dict_keys(['name', 'age', 'birth', 'like'])

In [34]:
# value 값만 뽑는 함수
dic_1.values()

dict_values(['세연쌤', {'작년': 20, '올해': 21, '내년': 22}, '03/20', 'money'])

In [35]:
# for문 - key 값 가져오기
for k in dic_1.keys():
    print(k)

name
age
birth
like

In [36]:
# for문 - values 값 가져오기
for k in dic_1.values():
    print(k)

세연쌤
{'작년': 20, '올해': 21, '내년': 22}
03/20
money

In [38]:
dic_1.items()

dict_items([('name', '세연쌤'), ('age', {'작년': 20, '올해': 21, '내년': 22}), ('birth', '03/20'), ('like', 'money')])

In [40]:
# for문 - key, values 쌍 가져오기
for item in dic_1.items():
    print(item)

('name', '세연쌤')
('age', {'작년': 20, '올해': 21, '내년': 22})
('birth', '03/20')
('like', 'money')

In [41]:
for k, v in dic_1.items():
    print(k)
    print(v)
    print('-----')

name
세연쌤
-----
age
{'작년': 20, '올해': 21, '내년': 22}
-----
birth
03/20
-----
like
money
-----

#### in, not in
- key에 한해서 동작한다

In [42]:
dic_1

{'name': '세연쌤',
 'age': {'작년': 20, '올해': 21, '내년': 22},
 'birth': '03/20',
 'like': 'money'}

In [43]:
'name' in dic_1

True

4

### 함수(function)
- 실행할 명령들을 독립적으로 실행할 수 있게 모아둔 집합

In [47]:
# 함수 정의
def number_sum(num1, num2):
    return num1 + num2

In [48]:
number_sum(3, 20)    # 함수 호출

23

In [49]:
def number_minus(num1, num2):
    return num1 - num2

In [52]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
result = number_minus(num1, num2)
print(result)

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 3
7

In [59]:
# replace(대체할 문자, 바꿀 문자) 문자열 함수
'치킨 피자 탕수육'.replace('탕수육','아이스크림')

'치킨 피자 아이스크림'

In [61]:
# 문자열 삭제 효과
'치킨 피자 탕수육'.replace(' 탕수육','')

'치킨 피자'

In [62]:
def s_replace(s):
    return s.replace('ㅋ','')

In [63]:
s = input("문자열 입력 >> ")
result = s_replace(s)
print(result)

문자열 입력 >> ㅋ을 지워주세요ㅋㅋㅋㅋㅋㅋㅋ
을 지워주세요

In [64]:
print()    # Shift + tab -> 함수에 대한 설명(Dostring)을 볼수 있음

In [65]:
s_replace()

TypeError: s_replace() missing 1 required positional argument: 's'

In [69]:
# 함수 정의
def s_replace(str1):
    """'ㅋ'문자열을 제거해주는 함수
    ㅋ을 제거한다.
    독스트링 작성"""
    result = s.replace('ㅋ','')    
    return result

###가변 매개변수

In [ ]:
# 두 개의 매개변수를 받도록 만듬!
number_minus(1,3,7)
# 매개변수 갯수가 안 맞으면 에러!

In [72]:
def add(*args):    # 가변 매개변수
    print(args)

In [73]:
add(1,2,3,4,5)
# 가변 매개변수 : 튜플 형태로 저장

(1, 2, 3, 4, 5)